/* 
    this file is for any overrides to variables in ChampCSS. Let's face it, the variables file can be scary, especially if you are new. You have to scroll through a thousand lines to edit the variables that you are looking for. Also, utilities are living in separate files. You need one single source of truth that is simple to use.

    You can override or change anything in ChampCSS from here. You can even do your own frameworking by adding custom variables or utility classes. This document is loaded right above style.css, so anything that you define here will override the defaults.
*/
@layer custom-site-styles {
  :where([data-smart-spacing]) {
    --smart-spacing-gap-amount: var(--container-gap);
    display: grid;
    gap: var(--container-gap);
  }

  /* icon styling */
  [data-icon] {
  color: var(--black);
  font-size: 3.5rem;
  z-index: auto !important;
  position: relative; /* z-index needs this to take effect */
}
.site-icon {
  --icon-padding: var(--sp-100);
  --icon-bg-color: var(--surface-ultra-light);
  --icon-radius: var(--radius);

  background: var(--icon-bg-color);
  padding: var(--icon-padding);
  border-radius: var(--icon-radius);

  /* variants */
  @container style(--icon-theme: dark) {
    color: var(--white);
    --icon-bg-color: var(--surface-dark);
  }
}
}
